*.iml
*.bat
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/signing.properties
.idea/
/.idea/jarRepositories.xml
/.idea/migrations.xml
/.idea/codeStyles/
/bilibili-API-collect-master
